[mysqld]
# Character set
character-set-server=utf8mb3
collation-server=utf8mb3_unicode_ci
skip-character-set-client-handshake

# Full-text search
ft-min-word-len=3
innodb-ft-min-token-size=3

# Performance
innodb-buffer-pool-size=384M
#query-cache-size=0
#table-open-cache=1000
#innodb-log-file-size=32M
#performance-schema=ON

# Кэш MyISAM (т.к. большинство таблиц на MyISAM)
key-buffer-size=128M
myisam-sort-buffer-size=32M

# Временные таблицы в RAM (критично для ваших запросов)
tmp-table-size=64M
max-heap-table-size=64M

# Сортировка и соединения
sort-buffer-size=2M
join-buffer-size=2M
read-rnd-buffer-size=2M

# Потоки и безопасность
thread-cache-size=16
max-connections=50

# Network and security
bind-address=0.0.0.0
#skip-name-resolve

# SSL - правильные опции
#ssl=0
#skip-ssl=true
#require-secure-transport=OFF

# Logging
slow-query-log=OFF
general-log=OFF